html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;

}

p {
    color: white;
    text-align: center;
}

img {
    border: solid white 5px
}

div{
    text-align: center;
    padding-top: 50px;
}